@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
h3 {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 30px;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
  display: inline-block;
  text-align: left;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.col-3,
.col-4,
.col-6,
.col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
  width: 100%;
}

@media only screen and (min-width: 640px) {
  .col-3 {
    width: 25%;
    min-width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-6 {
    width: 50%;
  }
  .col-12 {
    width: 100%;
  }
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.row::after {
  clear: both;
}

#petfinderInfo {
  position: relative;
  padding-top: 20px;
}

@media screen and (max-width:640px) {
  #splashButton {
    min-width: 100%;
  }
  body {
    margin: 0px;
  }
  select {
    width: 100%;
    padding-left: 33%;
  }
  #zip {
    width: 100%;
  }
  #nextPet {
    display: none;
  }
  #prevBtn {
    display: none;
  }

  .petPic {
    width: 100%;
      }

}

@media screen and (min-width:640px) {
  #nextPet {
    border-bottom-right-radius: 25px;
  }
  #prevBtn {
    border-bottom-left-radius: 25px;
  }
  .row {
    padding-left: 20px;
    padding-right: 20px;
  }
  #splashButton {
    min-width: 500px;
    margin-top: 50px;
  }
  .petPic {
    min-width: 450px;
    max-width: 100%;
  }
  section {
    text-align: center;
  }
  body {
    padding-top: 20px;
  }
  #splashButton {
    margin-top: 20px;
  }
  .reset {
    box-shadow: 2px 2px 5px gray;
  }

.swipeMessage {
  display: none;
}

}

.petPic {
  object-position: center;
  border-radius: 25px;
  float: left;
  margin-right: 10px;
  border: 2px solid black;
  height: auto;
  transition: all .8s ease-in-out;
}

.petPic:hover {
  transform: scale(1.1);
}

input {
  margin-top: 20px;
}

.newPet {
  width: 100%;
  height: 40px;
  z-index: 2;
}

#info {
  width: 100%;
  background-color: #FF8D88;
  color: white;
  border: 1px solid #B05456;
  padding: 10px;
  height: 65px;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 29px;
  box-shadow: 0 9px gray;
  transition: all .2s ease-in-out;
}

#info:hover {
  background-color: #F77A77;
  text-shadow: 2px 2px #666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#nextPet {
  right: -5px;
  top: -5px;
  width: 100%;
  height: 60px;
  color: white;
  font-size: 30px;
  box-shadow: -2px 2px 5px gray;
  transition: all 0.5s;
  border: 0px;
}

#nextPet span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#nextPet span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#nextPet:hover span {
  padding-right: 25px;
}

#nextPet:hover {
  background-color: #45C2BD;
}

#nextPet:hover span:after {
  opacity: 1;
  right: 0;
}

#prevBtn {
  right: -5px;
  top: -5px;
  height: 60px;
  color: white;
  font-size: 30px;
  box-shadow: -2px 2px 5px gray;
  width: 100%;
  transition: all 0.5s;
  border: 0px
}

#prevBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#prevBtn span:after {
  content: "\00ab";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

#prevBtn:hover span {
  padding-left: 25px;
}

#prevBtn:hover {
  background-color: #45C2BD;
}

#prevBtn:hover span:after {
  opacity: 1;
  left: 0;
}

.reset {
  width: 100%;
  height: 60px;
  color: white;
  font-size: 30px;
  border: 0
}

.reset:hover {
  background-color: #45C2BD;
}

#adopt {
  width: 100%;
  color: white;
  border: 1px solid #2A8598;
  padding: 10px;
  height: 65px;
  border-radius: 8px;
  font-size: 29px;
  box-shadow: 0 9px gray;
  transition: all .2s ease-in-out;
}

#adopt:hover {
  background-color: #65B5B1;
  text-shadow: 2px 2px #666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.hidden {
  display: none;
}

#information {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: .9;
  background-color: black;
  z-index: 4;
  border-radius: 5px;
}

p {
  color: white;
  font-size: 18px;
  text-align: right;
  margin-right: 10px;
}

#spinny {
  font-size: 60px;
  position: absolute;
  right: 40px;
  bottom: 20px;
  color: white;
  font-weight: bold;
  transition: all 1.2s;
  transition-timing: ease-in-out;
}

#spinny:hover {
  transform: rotate(720deg);
  text-shadow: -2px -2px 20px #FF8D88;
}

#rowAnchor {
  position: relative;
}

.splash {
  padding-top: 20px;
  background-color: white;
  width: auto;
  left: 0px;
  height: 100;
}

#splashButton {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: 200px;
  font-size: 76px;
  font-family: 'Bubblegum Sans', cursive;
  background-color: #6FC7C3;
  border-radius: 24px;
  color: white;
  border: 6px double white;
  text-shadow: 2px 2px 6px black;
  text-align: center;
}

a {
  color: #F77A77;
  font-weight: bold;
  font-size: 19px;
}

a:hover {
  color: #F23E42;
}

select {
  margin-left: auto;
  margin-right: auto;
}

form {
  text-align: center;
  padding-bottom: 50px;
}

#zip {
  margin: 0px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

button {
  font-family: 'Bubblegum Sans', cursive;
}

pre {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 400px;
  top: 400px;
  margin-top: -400px;
  pointer-events: none;
  z-index: 3;
}

#map {
  width: 100%;
  height: 400px;
  background: #fae596;
  opacity: .9;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#mapBorder {
  height: 410px;
  background-color: #F77A77;
  padding: 5px;
  margin-top: 5px;
}

input,
select {
  background-color: white;
  margin-bottom: 4px;
  color: #FF8D88;
}

#zip,
select {
  border: 2px solid #6FC7C3;
  font-size: 17px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#zip:focus {
  font-weight: bold;
}

select:hover,
option {
  font-weight: bold;
}

::-webkit-input-placeholder {
  color: #E34446;
}

#amItem {
  width: auto;
  height: 200px;
  margin: 1px;
  text-align: center;
  font-size: 18px
}

button {
  background-color: #6FC7C3;
}

button > span {
  font-family: 'Bubblegum Sans', cursive;
}

#resourceImg {
  height: 150px;
  width: auto;
}

#selectWrap {
  color: #E36468;
  font-weight: bold;
}

.checker {
  -webkit-appearance: none;
  background-color: #DDD;
  border: 2px solid #6FC7C3;
  border-radius: 2px;
  display: inline-block;
  margin: auto;
  margin-right: 3px;
  width: 20px;
  height: 20px;
  box-shadow: inset -1px -2px 2px gray;
}

.checker:checked {
  background: #F77A77;
  border: 2px solid #6FC7C3;
}

.checker:active {
  background: #5A8DB5;
}

li {
  display: inline-block;
}

label {
  margin-right: 10px;
  margin-left: 10px;
}

#donate {
  width: 100%;
  height: 500px;
  border: 0;
}

#donateDiv {
  position: absolute;
  top: 20%;
  width: 100%;
  background-color: white;
  z-index: 4;
  box-shadow: 2px 2px 20px gray
}

#donateClose {
  position: relative;
  color: #DB232A;
  left: 75%;
  top: 10px;
  display: inline-block;
  font-size: 60px;
  font-weight: bold;
  border-radius: 50px;
  width: 80px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: all .8s;
  transition-timing: ease-in-out;
  text-shadow: -2px -2px 20px #E36D6F;
}

#donateClose:hover {
  transform: rotate(720deg);
}

ul {
  font-size: 19px;
}

.swipeMessage {
  background-color: #E36D6F;
  color: white;
  opacity: .5;
  text-align: center;
  box-shadow: 2px 2px 5px gray;
}

h4 {
  margin-bottom: 4px;
}

.spacer {
  height: 200px;
}

#workDammit {
  height: auto;
}

select {
  text-align: center;
  text-align-last: center;
  
}